include *.rst

recursive-include neurokernel *.py
recursive-include tests *.py
recursive-include examples *.py

include docs/source/*.rst
include docs/Makefile
include docs/source/conf.py
include docs/source/_static/*
include docs/source/_templates/*.html

exclude MANIFEST.in
